{% extends 'music/base.html' %}


{% block content %}

    <div
        class="home_container"
        style="text-align: center"
    >

        <h1>Home</h1>

        <div
            class="button_container"
            style="width: 50%; margin-left: auto; margin-right: auto"
        >
            <a href="{% url 'artists' %}" class="btn btn-outline-primary btn-lg btn-block">I am a Photographer</a>
            <a href="{% url 'songs' %}" class="btn btn-primary btn-lg btn-block">I am a Participant</a>
        </div>

    </div>


{% endblock %}