{% extends 'faces/base.html' %}


{% block content %}

    <div
        class="home-container"
        style="text-align: center"
    >
        <form method="post" action="{% url 'download_folder' %}">
            {% csrf_token %}
            <input type="hidden" name="image_list" value="{{ images }}">
            <button class="button-primary button-margin-bottom" type="submit">Download</button>
        </form>

        <div class="row row-cols-3">
            {% for img in images %}
                <div class="col">
                    <img src="/media/{{ img.file }}" alt="img" width="100%">
                </div>
            {% endfor %}
        </div>

    </div>

    <style>
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 30px
    }
    .button-margin-bottom{
        margin-bottom: 20px;
        margin-right: 0;
    }
    </style>


{% endblock %}