{% extends 'faces/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="../../static/style.css">

    <div class="upload-container">
        <h2>You Are Looking Great Today!</h2>
        <p class="light-p">Please upload a selfie with nothing but your face!</p>

        <form action="" method="POST" enctype="multipart/form-data" class="upload-form">
            {% csrf_token %}
            <input type="file" name="image">
            <button type="submit" class="button-primary">Upload</button>
        </form>

    </div>



{% endblock %}