{% extends 'faces/base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div
        class="container"
        style="text-align: center"
    >
        <h2>Hi dear User!</h2>
        <p>Please upload a selfie with nothing but your face!</p>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="image">
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>

    </div>



{% endblock %}